<ul>
    <li><h3>SG</h3><button type="button" class="btn btn-outline-dark"><img src="assets\sg.webp" alt="kgf">
    <p><b>BAT</b></p></button></li>
    <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\baals.avif" alt="toxic">
        <p><b>BALL</b></p></button></li>
        <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\stumps.jpg" alt="photography">
            <p><b>STUMPS</b></p></button></li>
            <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\glouves.jpg" alt="bad habits">
            <p><b>GLOVES</b></p></button></li>
            <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\sg helmet.png" alt="bad habits">
                    <p><b>HELMET</b></p></button></li>
                    <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>
     <br>                                                 
                <li><h3>SS </h3><button type="button" class="btn btn-outline-dark"><img src="assets\bat.jpg" alt="bad habits">
    <p><b>BAT</b></p></button></li>
    <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 

     <li><button type="button" class="btn btn-outline-dark"><img src="assets\SS BALL.jpg" alt="bad habits">
       <p><b>BALL</b></p></button></li>
       <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\SS STUMPS.jpg" alt="bad habits">
<p><b>STUMPS</b></p></button></li> 
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>                                                       
<li><button type="button" class="btn btn-outline-dark"><img src="assets\SS GLOUVES.webp" alt="bad habits">
<p><b>GLOVES</b></p></button></li>
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
     <li><button type="button" class="btn btn-outline-dark"><img src="assets\SS HELMET.jpg" alt="bad habits">
<p><b>HELMET</b></p></button></li>
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
    <br>                                                                             
<li><h3>REBOOK</h3><button type="button" class="btn btn-outline-dark"><img src="assets\REBBOK BAT.jpg" alt="bad habits">
<p><b>BAT</b></p></button></li>
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
 <li><button type="button" class="btn btn-outline-dark"><img src="assets\REBBOK BALL.webp" alt="bad habits">
<p><b>BALL</b></p></button></li>
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
<li><button type="button" class="btn btn-outline-dark"><img src="assets\REBOOK STUMP.jpg" alt="bad habits">
<p><b>STUMPS</b></p></button></li>
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
<li><button type="button" class="btn btn-outline-dark"><img src="assets\REBOOK GLOUVE.jpg" alt="bad habits">
<p><b>GLOVES</b></p></button></li>  
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>       
<li><button type="button" class="btn btn-outline-dark"><img src="assets\REBOOOK HELMET.jpg" alt="bad habits">
<p><b>HELMET</b></p></button></li>
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button> 
    
</ul>
<!--  rebook pad
<li><button type="button" class="btn btn-outline-dark"><img src="assets\REBOOK PAD.jpg" alt="bad habits">
    <p><b>PAD</b></p></button></li>
    <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button><br>  

    ss pads
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\SS PADS.jpg" alt="bad habits">
<p><b>PAD</b></p></button></li>  
<button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>


sg pads
<li><button type="button" class="btn btn-outline-dark"><img src="assets\SG PAD.jpg" alt="bad habits">
          <p><b>PAD</b></p></button></li>  
          <button type="button" class="btn btn-outline-dark" routerLink="search">buy</button>
-->