<h1><br><br><br><br><br>FAVORATES ITEMS</h1>
<ul>
    <li><h3>SG</h3><button type="button" class="btn btn-outline-dark"><img src="assets\sg.webp" alt="kgf">
        <p><b>BAT</b></p></button></li> 
<button type="button" class="btn btn-outline-dark" routerLink="search">❤️</button>
<li><button type="button" class="btn btn-outline-dark"><img src="assets\baals.avif" alt="toxic">
    <p><b>BALL</b></p></button></li>
    <button type="button" class="btn btn-outline-dark" routerLink="search">❤️</button>
    <li><button type="button" class="btn btn-outline-dark"><img src="assets\REBOOOK HELMET.jpg" alt="bad habits">
        <p><b>HELMET</b></p></button></li>
        <button type="button" class="btn btn-outline-dark" routerLink="search">❤️</button>

    </ul>

